.images-container {
  width: 95%;
  max-width: 1400px;
  margin: 10px auto;
  columns: 4;
}

.images-container div {
  width: 100%;
  margin-bottom: 10px;
  break-inside: avoid;
}

.images-container div img {
  max-width: 100%;
  border-radius: 5px;
}

.image-card {
  position: relative;
  /* opacity: 0; */
}
.images:hover {
  transition: .3s ease;
  -webkit-filter: brightness(75%);
  cursor: pointer;
}

.pin-icon{
  position: absolute;
  opacity: .5;
  bottom: 5px;
  right: 5px;
  height: 10%;
  width: 10%;
  background-color: red;
}

@media (max-width: 1199px) {
  .images-container {
    columns: 3;
  }
}

@media (max-width: 899px) {
  .images-container {
    columns: 2;
  }
}

@media (max-width: 599px) {
  .images-container {
    columns: 1;
  }
}