.SavedPage {
    display: block;
    color: blue;
    width: 90%;
    height:max-content;
}

.saved-image{
    width: 200px;
    border-radius: 5px;
    margin: 10px;
    display: flex;
}

.saved-image:hover{
    opacity: 0.3;
}