.sideNav {
    height: 100vh;
    width: 200px;
    background-color: #2F4050;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
}

.sideNavList {
    height: auto;
    width: 100%;
    padding: 0;
}

.sideNavList > .row {
    width: 100%;
    height: 50px;
    list-style-type: none;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.sideNavList > .row:hover{
    cursor: pointer;
    background-color: #293846;

}